services:
  web:
    command: gunicorn --bind 0.0.0.0:8000 --workers 2 --timeout 60 tiny_cms.wsgi:application
    env_file:
      - ./.env.prod
    volumes:
      - ./media:/app/media
      - ./logs:/app/logs
    environment:
      DJANGO_SETTINGS_MODULE: tiny_cms.configs.prod

  nginx:
    build: ./nginx
    depends_on:
      - web
    volumes:
      - ./app/static:/var/www/static
      - ./media:/var/www/media
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    labels:
      - "traefik.enable=true"
    
      # HTTP → HTTPS редирект
      - "traefik.http.routers.fizruk-http.rule=Host(`fizruk-fitness.ru`, `www.fizruk-fitness.ru`)"
      - "traefik.http.routers.fizruk-http.entrypoints=web"
      - "traefik.http.routers.fizruk-http.middlewares=redirect-to-https"
      
      # HTTPS
      - "traefik.http.routers.fizruk-https.rule=Host(`fizruk-fitness.ru`, `www.fizruk-fitness.ru`)"
      - "traefik.http.routers.fizruk-https.entrypoints=websecure"
      - "traefik.http.routers.fizruk-https.tls.certresolver=letsencrypt"
      
      # Указываем порт nginx
      - "traefik.http.services.fizruk.loadbalancer.server.port=80"
    networks:
      - traefik-public
      - app_network

  db:
    env_file:
      - ./.env.prod

networks:
  traefik-public:
    external: true