<nav class="navbar navbar-expand-lg navbar-dark fixed-top" aria-label="Основная навигация">
    <div class="container">
        <a class="logo-container navbar-brand fw-bold fs-3" href="{% url 'main' %}" aria-label="{{ site_name }} - на главную">
            <img src="{{ site_logo_url }}" class="logo-image" alt="{{ site_name }}" width="50" height="50" decoding="async">
            <span class="text-primary-custom">ФИЗРУК</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Открыть меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include "base/_menu.html" %}
    </div>
</nav>
