<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <div class="logo-container">
            <img src="media/logo.jpg" class="logo-image" alt="Физрук">
            <a class="navbar-brand fw-bold fs-3" href="#">
                <span class="text-primary-custom">ФИЗРУК</span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include "base/_menu.html" %}
    </div>
</nav>
